// @import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sono:wght,MONO@200..800,0..1&family=Source+Code+Pro&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Sono", monospace;
  font-variation-settings: "MONO" 0.2;
  --zlm-bg-color: #282c3b;
  --zlm-bg-dark-color: #1f2330;
  background-color: var(--zlm-bg-color);
  --zlm-text-color: #d2d0d0;
  color: var(--zlm-text-color);
  --zlm-link-color: #c09797;
  --zlm-hr-color: #58607c;
}

a {
  color: var(--zlm-link-color);
  text-decoration: underline;
}

a.simple {
  color: var(--zlm-text-color);
  text-decoration: none;

  &:hover {
    color: var(--zlm-text-color);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-variation-settings: "MONO" 1;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

hr {
  border: 1px solid var(--zlm-hr-color);
  margin: 15px 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;

  li::before {
    content: "-";
    display: inline-block;
    width: 0;
    transform: translateX(-15px);
  }
}

@media screen {
  .screen-hidden {
    display: none;
  }
}

@media print {
  .print-hidden {
    display: none;
  }

  body {
    margin: 0;
    background-color: #ffffff;
    --zlm-text-color: #000000;
    --zlm-link-color: #825555;
    --zlm-hr-color: #000000;
    color: var(--zlm-text-color);
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.35rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  .no-page-break {
    page-break-inside: avoid;
  }
}
